<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    * {
      box-sizing: border-box;
    }
    table {
      border-collapse: collapse;
    }
    th, td{
      border:1px solid black;
    }
  </style>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>編號</th>
    <th>姓名</th>
    <th>教室地點</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="teacherVO : ${teacherList}">
    <td th:text="${teacherVO.teacherId}"></td>
    <td th:text="${teacherVO.name}"></td>
    <td th:text="${teacherVO.classRoomVO.location}"></td>
  </tr>
  </tbody>
</table>

<h2>新增</h2>
<form method="post" action="/add/teacher">
  <label for="teacherName">姓名：</label>
  <input type="text" id="teacherName" name="name" required />
  <br>
  <label for="classId">教室編號：</label>
  <input type="number" id="classId" name="classId" required />
  <br>
  <p th:if="${msg}" th:text="${msg}"></p>
  <p th:if="${msg1}" th:text="${msg1}"></p>
  <button type="submit">送出</button>
</form>


</body>
</html>